@import "index";
@import "about";
@import "media";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
$fontText: "Roboto", sans-serif;
$fontTitleHenny: "Henny Penny", cursiv;
$fontTitlePattaya: "Pattaya", sans-seri;
$fontHeader: "Heebo", sans-serif;
$fonrRubik: "Rubik Moonrocks", cursive;
$fontRubikBubbles: "Rubik Bubbles", cursive;

$colorBlack: #0d0d0d;
$colorWhite: #f2f2f2;
$colorYellow: #f2cc0f;
$colorLightGreen: #8cdf3f;
$colorPurple: #9453a6;
$fontSizeHeader: 18px;

.bg-main-style {
  background: #ffcff4;
  background: linear-gradient(to top, #fceaf7 0%, #f4f4cf 100%);
}

.bg-header-style {
  background: #ffff3d;
  background: linear-gradient(to top, #ffff3d 0%, #f2cc0f 100%);
  box-shadow: 3px 15px 20px 11px rgba(253, 255, 167, 0.49);
}
.border-header-1 {
  font-size: 22px;
  font-family: $fonrRubik;
  color: $colorWhite;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
  padding: 10px;
  margin-left: 20px;
  box-shadow: 0px -2px 20px 11px rgba(255, 255, 61, 0.3);
}

.header-my-style-2 {
  color: #703f7d;
  font-family: $fonrRubik;
  font-size: 30px;
  text-shadow: 3px 3px 14px rgb(146, 179, 123);
}

.title-header-1 {
  color: $colorPurple;
  font-family: $fonrRubik;
  font-size: 30px;
  padding-bottom: 10px;
}

.title-my-style-1 {
  font-family: $fontRubik;
  font-size: 40px;
  color: $colorPurple;
  text-shadow: 2px 2px $colorYellow;
}

.footer-bg-my-style {
  background: #abffc4;
  background: linear-gradient(to top, #abffc4 0%, #fceaf7 100%);
}

.footer-holon-info {
  font-size: 12px;
}

.fa {
  padding: 5px;
  font-size: 18px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.sponsers-logo-img {
  height: 70px;
  width: 70px;
}
